<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/pms/petopia/conf/jdbc.properties"></properties>

  <typeAliases>
    <package name="com.pms.petopia.domain"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/pms/petopia/mapper/MemberMapper.xml"/>
    
    <mapper resource="com/pms/petopia/mapper/BigAddressMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/SmallAddressMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/MyTownBoardMapper.xml"/> 
    <mapper resource="com/pms/petopia/mapper/HospitalMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/StoryMapper.xml"/>
<!--      
    <mapper resource="com/pms/petopia/mapper/ReviewMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/PetMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/RecordMapper.xml"/>
    <mapper resource="com/pms/petopia/mapper/MyTownBoardMapper.xml"/>
   
    <mapper resource="com/pms/petopia/mapper/SharingMarketBoardMapper.xml"/>
    -->
  </mappers>
</configuration>








