<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.HospitalDao">
  
  <resultMap id="hospitalMap" type="hospital">
    <id column="hno" property="no"/>
    <result column="name" property="name"/>
    <result column="tel" property="tel"/>
    <result column="address" property="address"/>
    <result column="startTime" property="startTime"/>
    <result column="endTime" property="endTime"/>
    <result column="parking" property="parking"/>
    <result column="vet" property="veterinarian"/>
    <result column="photo" property="photo"/>
    <result column="grade" property="rate"/>

    <association property="admin" javaType="member">
      <id column="admin_no" property="no"/>
      <result column="admin_name" property="name"/>
    </association>
    
   <!-- 
    <association property="review" javaType="review">
      <id column="review_no" property="no"/>
      <result column="review_name" property="name"/>
    </association>
     -->
     
    <association property="bigAddress" javaType="bigAddress">
      <id column="state_no" property="no"/>
      <result column="state_name" property="name"/>
    </association>

    <association property="smallAddress" javaType="smallAddress">
      <id column="city_no" property="no"/>
      <result column="city_name" property="name"/>
    </association>

  </resultMap>
  
  <insert id="insert" parameterType="hospital">
    insert into pet_hp(name, tel, address, startTime, endTime, parking, vet, photo, cno) 
    values(#{name}, #{tel}, #{address}, #{startTime}, #{endTime}, #{parking}, #{veterinarian}, #{photo}, #{smallAddress.no})
  </insert>

  <select id="findAll" resultMap="hospitalMap">
    select 
      h.hno,
      h.name,
      h.tel,
      h.address,
      h.startTime,
      h.endTime,
      c.cno as city_no,
      c.cname as city_name
    from pet_hp h
      inner join pet_city c on c.cno=h.cno
    order by hno desc
  </select>
  
  <select id="findByNo" resultMap="hospitalMap" parameterType="int">
    select
      h.hno,
      h.name,
      h.tel,
      h.address,
      h.startTime,
      h.endTime,
      h.parking,
      h.vet,
      h.photo,
      h.grade,
      c.cno as city_no,
      c.cname as city_name
    from pet_hp h
      inner join pet_city c on c.cno=h.cno
    where h.hno=#{value}
  </select>
  
  <update id="update" parameterType="hospital">
    update pet_hp 
    <set> 
      name=#{name},
      tel=#{tel},
      cno=#{smallAddress.no},
      address=#{address},
      startTime=#{startTime},
      endTime=#{endTime},
      parking=#{parking},
      photo=#{photo},
      vet=#{veterinarian}
    </set>
    where hno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_hp 
    where hno=#{value}
  </delete>
  
     <!-- 
  <select id="findByKeyword" resultMap="hospitalMap" parameterType="string">
    select
      hno,
      name,
      tel,
      address,
      parking,
      vet,
      time,
      grade
    from pet_hp
    <if test="value != null">
    where 
      address like concat('%', #{value},'%')
    </if>
    order by hno desc
  </select>
    -->
</mapper>