<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.MemberDao">
  
  <resultMap id="memberMap" type="member">
    <id column="mno" property="no"/>
    <result column="name" property="name"/>
    <result column="nick" property="nick"/>
    <result column="id" property="id"/>
    <result column="email" property="email"/>
    <result column="photo" property="photo"/>
    <result column="phone" property="tel"/> 
    <result column="date" property="registeredDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="member">
    insert into pet_user(name, id, email, nick, pwd, phone, role) 
    values(#{name}, #{id}, #{email}, #{nick}, password(#{password}), #{tel}, 1)
  </insert>
  
  <select id="findByIdPassword" resultMap="memberMap" parameterType="map">
    select 
      mno,
      name,
      nick,
      id,
      email,
      phone
    from pet_user 
    where id = #{id} and pwd = password(#{password})
  </select>
  
  <update id="update" parameterType="member">
    update pet_user 
    <set> 
      <if test="nick != ''">nick=#{nick},</if>
      <if test="password != ''">pwd=password(#{password}),</if>
      <if test="tel != ''">phone=#{tel}</if> 
    </set>
    where mno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_user 
    where mno=#{value}
  </delete>
  
  <delete id="sharingMarketDelete" parameterType="int">
    delete from pet_mytown
    where tno=#{value}
  </delete>
  
  <delete id="myTownDelete" parameterType="int">
    delete from pet_mark
    where sno=#{value}
  </delete>
  
  
  
</mapper>







