<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.ReviewDao">
  
  <resultMap id="reviewMap" type="review">
    <id column="rno" property="no"/>
    <result column="service" property="serviceRating"/>
    <result column="clean" property="cleanlinessRating"/>
    <result column="cost" property="costRating"/>
    <result column="cont" property="comment"/>
    <result column="rphoto" property="photo"/>
    <result column="cdt" property="createdDate"/>

  <association property="writer" javaType="member">
    <id column="writer_no" property="no"/>
    <result column="writer_name" property="name"/>
   </association>
  
  <association property="hospital" javaType="hospital">
    <id column="hospital_no" property="no"/>
    <result column="hospital_name" property="name"/>
  </association>
    
  </resultMap>

  <insert id="insert" parameterType="review">
    insert into pet_hp_review(service, clean, cost, cont, writer, hname, rphoto)
    values(#{serviceRating}, #{cleanlinessRating}, #{costRating}, #{comment}, #{writer.no}, #{hospital.no}, #{photo})
  </insert>
  
  <select id="findAll" resultMap="reviewMap" parameterType="int">
    select
      r.rno, r.service, r.clean, r.cost, r.cont, r.cdt, r.rphoto,
      m.mno as writer_no, m.name as writer_name,
      h.hno as hospital_no, h.name as hospital_name
    from pet_hp_review r
      inner join pet_user m on m.mno=r.writer
      inner join pet_hp h on h.hno=r.hname
    where h.hno = #{no}
  </select>
  
    <select id="findAll2" resultMap="reviewMap">
    select
      r.rno, r.service, r.clean, r.cost, r.cont, r.cdt, r.rphoto,
      m.mno as writer_no, m.name as writer_name,
      h.hno as hospital_no, h.name as hospital_name
    from pet_hp_review r
      inner join pet_user m on m.mno=r.writer
      inner join pet_hp h on h.hno=r.hname
  </select>

  <delete id="delete" parameterType="int">
    delete from pet_hp_review where rno=#{value}
  </delete>

</mapper>