<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.SmallAddressDao">
  
  <resultMap id="smallAddressMap" type="smallAddress">
    <id column="cno" property="no"/>
    <result column="cname" property="name"/>
  
  <association property="bigAddress" javaType="bigAddress">
    <id column="bigAddress_no" property="no"/>
    <result column="bigAddress_name" property="name"/>
  </association>
  
  </resultMap>
  
  <insert id="insert" parameterType="smallAddress">
    insert into pet_city(gno, cname)
    values(#{bigAddress.no}, #{name})
  </insert>
  
  <select id="findAll" resultMap="smallAddressMap">
     select 
      g.gno as bigAddress_no,
      g.gname as bigAddress_name,
      c.cno,
      c.cname
    from pet_state g
    inner join pet_city c on g.gno=c.gno
  </select>
  
  <select id="findByNo" resultMap="smallAddressMap" parameterType="int">
     select 
      g.gno,
      g.gname,
      c.cno,
      c.cname
    from pet_state g 
    inner join pet_city c on g.gno=c.gno
    where c.gno = #{value}
  </select>

</mapper>







