<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.StoryDao">
  
  <resultMap id="StoryMap" type="story">
    <id column="nno" property="no"/>
    <result column="title" property="title"/>
    <result column="url" property="url"/>
    <result column="site" property="site"/>
    <result column="rdt" property="registeredDate"/>

    <association property="admin" javaType="member">
      <id column="admin_no" property="no"/>
      <result column="admin_name" property="name"/>
    </association>
  </resultMap>
  
  <insert id="insert" parameterType="story">
    insert into pet_st_news(title, url, site) 
    values(#{title}, #{url}, #{site})
  </insert>
  
  <select id="findAll" resultMap="StoryMap">
    select 
      nno,
      title,
      url,
      site,
      rdt
    from pet_st_news
    order by nno desc
  </select>
  
  <select id="findByNo" resultMap="StoryMap" parameterType="int">
    select
      nno,
      title,
      url,
      site,
      rdt
    from pet_st_news
    where nno = #{value}
  </select>
  
  <update id="update" parameterType="story">
    update pet_st_news set
        title = #{title},
        url = #{url},
        site = #{site} 
    where nno = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_st_news
    where nno = #{value}
  </delete>

  <select id="findByKeyword" resultMap="StoryMap" parameterType="string">
    select
      nno,
      title,
      url,
      site,
      rdt
    from pet_st_news
    <if test="value != null">
    where 
      title like concat('%', #{value},'%')
      or site like concat('%', #{value},'%')
    </if>
    order by nno desc
  </select>
</mapper>